body {
  padding: 50px;
  background-image: url(background-image.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #204590;
  font-family: sans-serif;
}
#container {
  display: flex;
  justify-content: center;
}

.flex{
	display: flex;
}
